.site-content {
  padding-top:80px;
}

.l-page {
  .l-page__header {
    @include outer-container(100%);
    display:flex;
    flex-direction: row;
    align-content:center;
    justify-content:center;
    padding:rem(40) rem(20);
    background:
            url('img/card-noise.png') top left repeat,
            url('img/page-header-bg.svg') center no-repeat,
            $action-color;
    background-size: auto, cover;
    background-origin: padding-box;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,0.2);
    text-align:center;

    h1 {
      //@include outer-container();
    }
  }

  .l-page__banner {
    height:rem(140);
  }

  @include media(min-width $medium-screen) {
    .l-page__header {
      padding:rem(90) rem(20);
    }

    .l-page__banner {
      height:rem(420);
    }
  }

}

hr {
  border:0;
  height:1px;
  margin:rem(20) 0;
  border-top:2px dotted $light-gray;

  @include media(min-width $medium-screen) {
    margin:rem(40) 0;
  }
}

.l-sub-nav {
  @include outer-container(100%);
  padding:0 rem(20);
  background-color:$medium-gray;

  .l-sub-nav__content {
    @include outer-container();
  }
}