@import "../libraries/neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

 //Neat Overrides
 $column: 160px !global;
 $gutter: 40px !global;
 $grid-columns: 6 !global;
 $max-width: 1160px !global;

// Neat Breakpoints
$xsmall-screen: 320px;
$small-screen: 480px;
$medium-screen: 610px;
$large-screen: 900px;
$xlarge-screen: 1300px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);


.row {
  @include row();
  @include clearfix();
  margin-bottom:rem(0);
}

.l-half, .l-third, .l-fourth, .l-fifth, .l-sixth {
  margin-bottom:rem(30);

}
.l-half {
  @include media($large-screen) {
    float:left;
    @include grid((strip-unit($column) + strip-unit($gutter)) * ($grid-columns / 2) - strip_unit($gutter), strip_unit($max-width));
    @include mright(strip-unit($gutter), strip_unit($max-width));
    &:nth-child(2n) {
      margin-right:0;
      //@include clearfix();
    }
  }
}

.l-third {
  @include grid(320,  strip_unit($max-width));
}

.l-fourth {
  @include media($large-screen) {
    float:left;
    @include grid((strip-unit($column) + strip-unit($gutter)) * ($grid-columns / 4) - strip_unit($gutter), strip_unit($max-width));
    &:not(:last-child) {
      @include mright(strip-unit($gutter), strip_unit($max-width));
    }
    &:nth-child(2n) {
      margin:0;
      //@include clearfix();
    }
  }
}

.l-fifth {
  @include grid(192, strip_unit($max-width));
}

.l-sixth {
  @include grid(160, strip_unit($max-width));
}
