.home-hero {
  position:relative;
  display:flex;
  flex-direction: row;
  justify-content:center;
  justify-items:center;
  align-items:center;
  align-content:center;
  @include background(url('img/card-noise.png') top left repeat, radial-gradient(#9ac8d9 40%, #77a2b2 90%) center no-repeat);
  height:calc(100vh - 80px);

  .home-hero__content {
    display:flex;
    flex-direction: column;
    justify-content:center;
    justify-items:center;
    align-items:center;
    align-content:center;
    height:100%;
    width:100%;
    @include background(url(img/home-hero-pattern.svg) center no-repeat);
    background-size:200%;
    text-align:center;

    .home-hero__mobile-silhouettes {
      width:100%;
      height:auto;
      max-width:300px;
      padding:rem(20) rem(40);
      path, rect {
        fill: white;
      }

      @include media(max-width $large-screen orientation landscape) {
         display:none;
       }
    }

    .home-hero__title {
      width:100%;
      padding:0 rem(20);

      .home-hero__title__small-text,
      .home-hero__title__medium-text,
      .home-hero__title__large-text {
        font-family: $heading-font-family;
        font-weight:600;
        color:white;
        line-height:1.3;
        text-transform:uppercase;
      }
      .home-hero__title__small-text {
        font-size:rem(12);
        margin-bottom:5px;
        letter-spacing:rem(2);
      }
      .home-hero__title__medium-text {
        font-size:rem(14);
        letter-spacing:rem(2);
      }
      .home-hero__title__large-text {
        font-size:rem(32);
        line-height:1.1;
        margin-bottom:rem(10);
        .home-hero__title__large-text__ampersand {
          font-style: italic;
          font-weight:400;
          font-size:0.6em;
        }
      }

      .home-hero__title__divider {
        margin-bottom:rem(5);
        img, svg {
          height:24px;
          .st0 {
            fill:transparent;
          }
          .st1 {
            fill:white;
          }
        }
      }
    }
  }

  .home-hero__corner-top-left,
  .home-hero__corner-top-right,
  .home-hero__corner-bottom-left,
  .home-hero__corner-bottom-right {
    position:absolute;
    display:none;
    .svg {
      width:60px;
      fill: white;
      @include media(max-width $large-screen) { width: 40px; }
    }
    @include media(max-width $xsmall-screen) { display:none; }
  }
  .home-hero__corner-top-left {
    top:20px; left:20px;
    @include media(max-width $large-screen) { top:10px; left:10px; }
  }
  .home-hero__corner-top-right {
    top:20px; right:20px;
    transform:rotate(90deg);
    @include media(max-width $large-screen) { top:10px; right:10px; }
  }
  .home-hero__corner-bottom-left {
    bottom:20px; left:20px;
    transform:rotate(270deg);
    @include media(max-width $large-screen) { bottom:10px; left:10px; }
  }
  .home-hero__corner-bottom-right {
    bottom:20px; right:20px;
    transform:rotate(180deg);
    @include media(max-width $large-screen) { bottom:10px; right:10px; }
  }


  @include media(min-width $small-screen) {
    .home-hero__content {
      @include background(url(img/home-hero-pattern.svg) center no-repeat);
      background-size:cover;

      .home-hero__title {
        .home-hero__title__large-text {
          font-size:rem(40);
          .home-hero__title__large-text__name {
            letter-spacing: rem(10);
          }
        }
        .home-hero__title__small-text {
          font-size:rem(14);
        }
        .home-hero__title__medium-text {
          font-size:rem(16);
        }
      }
    }
  }

  @include media(min-width $large-screen) {
    padding: rem(40);

    .home-hero__content {
      @include background(url(img/home-hero-silhouettes.svg) center no-repeat, url(img/home-hero-pattern.svg) center no-repeat);
      padding:0 25%;
      .home-hero__mobile-silhouettes {
        display:none;
      }
      @include media(max-width $medium-screen orientation landscape) {
        @include background(url(img/home-hero-pattern.svg) center no-repeat);
        background-size:cover;
      }
    }
  }

  @include media(min-width $large-screen) {

    .home-hero__corner-top-left,
    .home-hero__corner-top-right,
    .home-hero__corner-bottom-left,
    .home-hero__corner-bottom-right {
      display:block;
    }

    .home-hero__content {
      padding:0 220px;

      .home-hero__title {
        .home-hero__title__small-text {
          letter-spacing:8px;
          margin-bottom:rem(15);
        }

        .home-hero__title__large-text {
          font-size:rem(50);
          .home-hero__title__large-text__name {
            letter-spacing: 20px;
          }
          .home-hero__title__large-text__ampersand {
            display:block;
          }
        }
      }
    }
  }
}

//.home-hero {
//  position:relative;
//  display:flex;
//  flex-direction: row;
//  justify-content: center;
//  align-items:center;
//  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
//  height:calc(100vh - 80px);
//  z-index:50;
//  @include background(url('img/card-noise.png') top left repeat, radial-gradient(#9ac8d9 40%, #77a2b2 90%) center no-repeat);
//
//  .home-hero__corner-top-left,
//  .home-hero__corner-top-right,
//  .home-hero__corner-bottom-left,
//  .home-hero__corner-bottom-right {
//    position:absolute;
//    .svg {
//      width:60px;
//      fill: white;
//      @include media(max-width $large-screen) { width: 40px; }
//    }
//    @include media(max-width $xsmall-screen) { display:none; }
//  }
//  .home-hero__corner-top-left {
//    top:20px; left:20px;
//    @include media(max-width $large-screen) { top:10px; left:10px; }
//  }
//  .home-hero__corner-top-right {
//    top:20px; right:20px;
//    transform:rotate(90deg);
//    @include media(max-width $large-screen) { top:10px; right:10px; }
//  }
//  .home-hero__corner-bottom-left {
//    bottom:20px; left:20px;
//    transform:rotate(270deg);
//    @include media(max-width $large-screen) { bottom:10px; left:10px; }
//  }
//  .home-hero__corner-bottom-right {
//    bottom:20px; right:20px;
//    transform:rotate(180deg);
//    @include media(max-width $large-screen) { bottom:10px; right:10px; }
//  }
//
//  .home-hero__content-container {
//    display:flex;
//    flex-direction: column;
//    align-content:center;
//    align-items:center;
//
//    .home-hero__artwork {
//      position:relative;
//      width:100%;
//      height:100%;
//
//      @include media(orientation landscape max-width 1100px) { display: none; }
//
//      .home-hero__artwork__wedgwood {
//        position:absolute;
//        top:0;
//        left:10px;
//        height:100%;
//        width:100%;
//        max-height:800px;
//        padding:0 rem(20);
//
//        &:first-child { position:relative; }
//
//        @include media (max-width $xlarge-screen) { max-height:460px; }
//        @include media(min-width $small-screen max-width $medium-screen orientation portrait) { display: block; }
//        @include media(max-width $medium-screen) { display: none; }
//        @include media(max-width $large-screen orientation landscape) { max-height:300px; }
//      }
//
//      .home-hero__artwork__silhouettes {
//        height:100%;
//        max-height:130px;
//        padding:0 rem(20);
//
//        @include media(min-width $medium-screen) { display: none; }
//        @include media(min-width $small-screen max-width $medium-screen orientation portrait) { display: none; }
//      }
//
//    }
//
//    .home-hero__title {
//      width:100%;
//      text-align:center;
//      padding:rem(40) rem(20) 0 rem(20);
//      text-shadow:0 -1px rgba(0,0,0,0.15);
//
//      .home-hero__title__small-text,
//      .home-hero__title__medium-text,
//      .home-hero__title__large-text {
//        font-family: $heading-font-family;
//        font-weight:600;
//        color:white;
//        line-height:1.5;
//        text-transform:uppercase;
//      }
//      .home-hero__title__small-text {
//        font-size:em(14);
//        letter-spacing:10px;
//        margin-bottom:5px;
//      }
//      .home-hero__title__medium-text {
//        font-size:em(16);
//        letter-spacing:10px;
//      }
//      .home-hero__title__large-text {
//        font-size:em(40);
//        line-height:1.1;
//        margin-bottom:20px;
//        .home-hero__title__large-text__name {
//          letter-spacing: 20px;
//
//          @include media(max-width $small-screen) {
//            letter-spacing: 5px;
//          }
//        }
//        .home-hero__title__large-text__ampersand {
//          font-style: italic;
//          font-weight:400;
//          font-size:0.6em;
//        }
//
//      }
//
//      @include media(max-width $medium-screen) { // .home-hero__title
//
//        .home-hero__title__small-text,
//        .home-hero__title__medium-text,
//        .home-hero__title__large-text,
//        .home-hero__title__large-text__name {
//          letter-spacing: 3px;
//        }
//        .home-hero__title__small-text {
//          margin-bottom:5px;
//        }
//        .home-hero__title__large-text {
//          font-size:rem(32);
//          margin-bottom:8px;
//        }
//        .home-hero__title__medium-text {
//          font-size:rem(14);
//        }
//      }
//
//      @include media(max-width $xlarge-screen) { // .home-hero__title
//        padding-top:20px;
//      }
//      @include media(max-width $medium-screen) { // .home-hero__title
//        padding-top:10px;
//      }
//      @include media(min-width $medium-screen orientation portrait) { // .home-hero__title
//        padding-top:40px;
//      }
//
//    }
//  }

//  .home-hero__scroll-arrow {
//    position:absolute;
//    bottom:0;
//    left:50%;
//    svg {
//      width:rem(24);
//      margin-left:rem(-12);
//    }
//  }
//
//}

.our-story {
  .our-story__stories {
    @include row();
    font-size:rem(16);
    line-height:rem(24);
  }

  .our-story__photos {
    .photos-row__photo {
      margin-right:0;
      opacity:0.01;

      img {
        width:160px;
        max-width:100%;
      }

      &:not(:nth-child(2)) {
        display:none;
      }
    }
  }

  .our-story__stories__helen,
  .our-story__stories__james {
    svg, img {
      height:rem(60);
      rect, path {
        fill:$action-color;
      }
    }
  }

  .our-story__stories__helen {
    margin-bottom:rem(40);
  }

  @include media(min-width $medium-screen) {
    .our-story__photos {
      .photos-row__photo {
        display:block !important;

        &:not(:last-child) {
          margin-right:rem(40);
        }

        img {
          width:200px;
        }
      }
    }

    .our-story__stories {
      line-height:rem(30);

      .our-story__stories__helen,
      .our-story__stories__james {
        @include span-columns(3);
        margin-bottom:0;

        svg, img {
          display:block;
          height:rem(90);
          margin:0 auto rem(15);
        }
      }
    }
  }

  @include media(min-width $large-screen) {
    .our-story__stories {
      .our-story__stories__helen,
      .our-story__stories__james {
        svg, img {
          height:rem(110);
        }
      }
    }
  }

  @include media(min-width $xlarge-screen) {
    .our-story__stories__helen {
      padding:0 rem(0) 0 rem(130);
    }
    .our-story__stories__james {
      padding:0 rem(130) 0 rem(0);
    }
  }
}

.rsvp {

  input[type="radio"]:checked + .wpcf7-list-item-label {
      font-weight:700;
  }
  @include media(min-width $large-screen) {
    .is-attending {
      &> span {
        font-size:rem(24);
        line-height:rem(28);
        letter-spacing:rem(-1);
      }
    }
  }
}

