.home-hero {
  position:relative;
  display:flex;
  flex-direction: row;
  justify-content:center;
  justify-items:center;
  align-items:center;
  align-content:center;
  height:calc(100vh - 80px);
  @extend .blue-bg;

  .home-hero__content {
    display:flex;
    flex-direction: column;
    justify-content:center;
    justify-items:center;
    align-items:center;
    align-content:center;
    height:100%;
    width:100%;
    @include background(url('img/card-noise.png') top left repeat, url(img/home-hero-pattern.svg) center no-repeat);
    background-size:auto, 200%;
    text-align:center;

    .home-hero__mobile-silhouettes {
      width:100%;
      height:auto;
      max-width:300px;
      padding:rem(20) rem(40);
      height:auto;
      path, rect {
        fill: white;
      }

      @include media(max-width $large-screen orientation landscape) {
         display:none;
       }
    }

    .home-hero__title {
      width:100%;
      padding:0 rem(20);

      .home-hero__title__small-text,
      .home-hero__title__medium-text,
      .home-hero__title__large-text {
        font-family: $heading-font-family;
        font-weight:600;
        color:white;
        line-height:1.3;
        text-transform:uppercase;
        text-shadow:0 -1px rgba(0,0,0,0.1);
      }
      .home-hero__title__small-text {
        font-size:rem(12);
        margin-bottom:5px;
        letter-spacing:rem(2);
      }
      .home-hero__title__medium-text {
        font-size:rem(14);
        letter-spacing:rem(2);
      }
      .home-hero__title__large-text {
        font-size:rem(32);
        line-height:1.1;
        margin-bottom:rem(10);
        .home-hero__title__large-text__ampersand {
          font-style: italic;
          font-weight:400;
          font-size:0.6em;
        }
      }

      .home-hero__title__divider {
        margin-bottom:rem(5);
        img, svg {
          height:24px;
          .st0 {
            fill:transparent;
          }
          .st1 {
            fill:white;
          }
        }
      }
    }

    .home-hero__scroll-arrow {
      position:absolute;
      bottom:0;
      left:50%;
      svg {
        width:rem(24);
        margin-left:rem(-12);
      }
    }
  }

  .home-hero__corner-top-left,
  .home-hero__corner-top-right,
  .home-hero__corner-bottom-left,
  .home-hero__corner-bottom-right {
    position:absolute;
    display:none;
    .svg {
      width:60px;
      fill: white;
      @include media(max-width $large-screen) { width: 40px; }
    }
    @include media(max-width $xsmall-screen) { display:none; }
  }
  .home-hero__corner-top-left {
    top:20px; left:20px;
    @include media(max-width $large-screen) { top:10px; left:10px; }
  }
  .home-hero__corner-top-right {
    top:20px; right:20px;
    transform:rotate(90deg);
    @include media(max-width $large-screen) { top:10px; right:10px; }
  }
  .home-hero__corner-bottom-left {
    bottom:20px; left:20px;
    transform:rotate(270deg);
    @include media(max-width $large-screen) { bottom:10px; left:10px; }
  }
  .home-hero__corner-bottom-right {
    bottom:20px; right:20px;
    transform:rotate(180deg);
    @include media(max-width $large-screen) { bottom:10px; right:10px; }
  }


  @include media(min-width $small-screen) {
    .home-hero__content {
      @include background(url(img/home-hero-pattern.svg) center no-repeat);
      background-size:cover;

      .home-hero__title {
        .home-hero__title__large-text {
          font-size:rem(40);
          .home-hero__title__large-text__name {
            letter-spacing: rem(10);
          }
        }
        .home-hero__title__small-text {
          font-size:rem(14);
        }
        .home-hero__title__medium-text {
          font-size:rem(14);
        }
      }
    }
  }

  @include media(min-width $large-screen) {
    padding: rem(70) rem(100);

    .home-hero__corner-top-left,
    .home-hero__corner-top-right,
    .home-hero__corner-bottom-left,
    .home-hero__corner-bottom-right {
      display:block;
    }

    .home-hero__content {
      padding:0 rem(220);

      @include background(url('img/card-noise.png') top left repeat, url(img/home-hero-silhouettes.svg) center no-repeat, url(img/home-hero-pattern.svg) center no-repeat);
      padding:0 25%;

      .home-hero__mobile-silhouettes {
        display:none;
      }

      @include media(max-width $medium-screen orientation landscape) {
        @include background(url('img/card-noise.png') top left repeat, url(img/home-hero-pattern.svg) center no-repeat);
        background-size:auto, cover;
      }

      .home-hero__title {
        .home-hero__title__small-text {
          letter-spacing:6px;
          margin-bottom:rem(15);
        }

        .home-hero__title__large-text {
          font-size:rem(44);
          .home-hero__title__large-text__name {
            letter-spacing: 20px;
          }
          .home-hero__title__large-text__ampersand {
            display:block;
          }
        }
      }
    }
  }

}

.our-story {
  .our-story__stories {
    @include row();
    font-size:rem(16);
    line-height:rem(24);
  }

  .our-story__photos {
    .photos-row__photo {
      margin-right:0;
      opacity:0.01;

      img {
        width:200px;
        max-width:100%;
      }

      &:not(:nth-child(2)) {
        display:none;
      }
    }
  }

  .our-story__highlight-line {
    margin:30px 0 0 0;
    font-size: rem(22);
    line-height: rem(26);
    color:$duck-egg;
    text-align:center;
    width:100%;
  }

  .our-story__stories__helen,
  .our-story__stories__james {
    svg, img {
      height:rem(60);
      rect, path {
        fill:$action-color;
      }
    }
  }

  .our-story__stories__helen {
    margin-bottom:rem(40);
  }

  @include media(min-width $medium-screen) {
    .our-story__photos {
      .photos-row__photo {
        display:block !important;

        &:not(:last-child) {
          margin-right:rem(40);
        }
      }
    }

    .our-story__stories {
      line-height:rem(30);

      .our-story__stories__helen,
      .our-story__stories__james {
        @include span-columns(3);
        //margin-bottom:0;

        svg, img {
          display:block;
          height:rem(90);
          margin:0 auto rem(15);
        }
      }
    }
  }

  @include media(min-width $large-screen) {
    .our-story__stories {
      .our-story__stories__helen,
      .our-story__stories__james {
        svg, img {
          height:rem(110);
        }
      }
    }
  }

  @include media(min-width $xlarge-screen) {
    .our-story__stories__helen {
      padding:0 rem(0) 0 rem(70);
    }
    .our-story__stories__james {
      padding:0 rem(70) 0 rem(0);
    }
  }
}

.rsvp {

  input[type="radio"]:checked + .wpcf7-list-item-label {
      font-weight:700;
  }
  @include media(min-width $large-screen) {
    .is-attending {
      &> span {
        font-size:rem(24);
        line-height:rem(28);
        letter-spacing:rem(-1);
      }
    }
  }
}

